/* =============
    Index
============= */

#index-left{

    // love // hate
    a:link, a:visited{
        color: var(--darkGreen);
        text-decoration: none;
    }

    a:hover, a:active{
        color: var(--green);
    }
}