/* =============
    Footer
============= */
footer{
    background-color: var(--lightGray);
    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "fl fr"
        "fb fb";
        gap: 16px;
    }

    #footer-left{
        @include md{
            grid-area: fl;
        }
    }

    #footer-right{
        @include md{
            grid-area: fr;
        }
    }

    #footer-bottom{
        background-color: var(--charcoal);
          // love // hate
        a:link, a:visited{
            color: var(--white);
            text-decoration: none;
        }

        a:hover, a:active{
            color: var(--green);
        }

        @include md{
            grid-area: fb;
        }
    }
}