/* =============
    Footer
============= */
footer{
    background-color: var(--lightGray);

    #footer-bottom{
        background-color: var(--charcoal);
          // love // hate
    a:link, a:visited{
        color: var(--white);
        text-decoration: none;
    }

    a:hover, a:active{
        color: var(--green);
    }
    }
}