/* =============
    Footer
============= */
footer{
    background-color: var(--lightGray);
    font-size: rem-calc(14);

    h2{
        margin: 24px 0 16px;
        font-size: rem-calc(14);
        text-align: center;
        letter-spacing: 2px;
    }


    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "fl fr"
        "fb fb";
        gap: 16px;
    }

    a:link,a:visited{
        text-decoration: none;
        color: var(--black);
        transition: 0.25s;

        &:hover, &:active{
            color: var(--darkGreen);
        }
    }

    .divide{
        width: 100%;
        height: 1px;
        background-color: var(--gray);
        margin:16px 0 8px 0;
    }

    

   

    #footer-left{
        padding: 16px;
        @include md{
            grid-area: fl;
        }

        article{
            padding-left: 24px;
        }
    }

    #footer-right{
        padding: 16px;
        @include md{
            grid-area: fr;
        }

        article{
            text-align: center;

            select{
                width: 200px;
            }
        }

        form{
            margin-top: 24px;
            display: flex;
            input{
                border: none;
                background-color: var(--white);
                padding: 16px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid var(--darkGreen);
                border-radius: 5px;
            }

            button{
                background-color: var(--darkGreen);
                color: var(--white);
                border: none;
                margin-left: 8px;
                padding: 8px;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                transition: 0.25s;
                cursor: pointer;

                &:hover{
                    background-color: var(--black);
                }
            }
        }
    }

    #footer-bottom{
        text-align: center;
        padding: 24px;
        background-color: var(--charcoal);

          // love // hate
        a:link, a:visited{
            color: var(--white);
            text-decoration: none;
            font-weight: 300;
            letter-spacing: 2px;
            font-size: rem-calc(12);
        }

        a:hover, a:active{
            color: var(--green);
        }

        @include md{
            grid-area: fb;
        }
    }
}