/* =============
    Navigation
============= */

// dark green / light green link
 // love // hate
 .darkGreenLink:link, .darkGreenLink:visited{
    color: var(--darkGreen);
    text-decoration: none;
}
.darkGreenLink:hover, .darkGreenLink:active{
    color: var(--green);
}



nav{
    background-color: var(--green);
}