/* =============
    Navigation
============= */

// dark green / light green link
 // love // hate
 .darkGreenLink:link, .darkGreenLink:visited{
    color: var(--darkGreen);
    text-decoration: none;
    display: inline-block;
}
.darkGreenLink:hover, .darkGreenLink:active{
    color: var(--green);
}


.bold-link{
    font-weight: 600;
}


nav{
    background-color: var(--green);
}