/* =============
    Base
============= */
body{
    background-color: var(--gray);
}

p{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
    }
}

.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    .content-grid-item{
        background-color: var(--white);
        grid-area: content;
    }
}

#main-content-grid{
    @include lg{
        display: grid;
        grid-template-columns: 60% auto;
        gap: 16px;
    }

    @include xl{
        grid-template-columns: 70% auto;
    }

    @include xxl{
        grid-template-columns: 75% auto;
    }
}


#main-content-right{

    border: 1px solid var(--charcoal);
    margin: 150px 16px 16px;
    padding: 16px;

    img{
        margin-top: -50px;
        width: 150px;
    }

    h2{
        padding-bottom: 16px;
    }
    .social-icons{
        li{
            // love // hate
            a:link, a:visited{
                color: var(--black);
                text-decoration: none;
            }

            a:hover, a:active{
                color: var(--green);
            }
        }
    }
}